/* Reset & Global Font */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  line-height: 1.6;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #003f85;
  margin: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Global container width */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
